
  .ql-toolbar:nth-child(1){
    display:none;
  }
 
  .react-tagsinput {
    background-color: rgb(251, 245, 251) !important; 
    border: 1px solid rgb(250, 246, 250) !important; 
    color: rgb(0, 0, 0);
  }
  
  .react-tagsinput-tag {
    background-color: rgb(242, 208, 247) !important; 
    border: 1px solid rgb(191, 190, 190) !important;
    color: white; 
    margin: 3px; 
  }
  
  .react-tagsinput-remove {
    color: white; 
    cursor: pointer; 
  }