.scroll{
    max-height: 450px;
    overflow: auto;
    overflow-x:scroll !important;
  }
  .CodeMirror:nth-child(1){
    display: none;
   }
   .scrollbox {
    overflow: auto !important;
    
    -webkit-overflow-scrolling: touch!important;
    

  }
  
.pane  {
    
  

    place-content:center;
    font-size:25px; 

  }

  .html {
    display: none;
   
    
  
  }
  .css {
    display: none;
   
    visibility: none;

  }
  .js {
    display: none;
    
    visibility: none;
   
  }
 
  ::-webkit-scrollbar{
    width: 12px;
}
/* ::-webkit-scrollbar-thumb{
    background: linear-gradient(rgb(178, 11, 239),rgb(240, 188, 240));
    border-radius: 6px;
} */